.nav{
    position: sticky;
    top: 0px;
    height: 71px;
    box-shadow: 0px 1px 8px #8888;
    display: flex;
    align-items: flex-start ;
    }

    .searchbar{
        display: flex;
        flex-direction: column;
    }